.navbar-container {
  background-color: #1c1c1c;
  border-bottom: 1px solid antiquewhite;
  overflow: hidden;
}

.navbar-container p {
  color: #53c4ad;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.navbar-container p:hover {
  color: #dcdea4;
}

.navbar-container .icon {
  display: none;
  color: #94dcff;
}

/* show menu icon, remove navbar items when screen is small */
@media screen and (max-width: 600px) {
  .navbar-container p {
    display: none;
  }
  .navbar-container div.icon {
    float: right;
    display: block;
  }
}

/* makes the navbar look good on small screens, displays links vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar-container.responsive {
    position: relative;
  }
  .navbar-container.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.text-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: table;
  z-index: 2;
  float: left;
}

.headshot {
  background-image: url("./../images/headshot.jpeg");
  width: 200px;
  height: 200px;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  text-align: center;
  position: relative;
  z-index: 2;
  display: table-cell;
  vertical-align: middle;
}

p1 {
  color: #bf8bb9;
  /* font-size: 30px; */
}
p2 {
  color: #94dcff;
  font-size: 30px;
}
p3 {
  color: white;
  font-weight: bold;
  font-size: 48px;
}
p4 {
  color: #53c4ad;
  font-weight: bold;
  font-size: 36px;
}

.about-link {
  /* text-align: center; */
  /* align-items: center;
  align-content: center; */
  /* align-self: center; */
  background-color: #1c1c1c;
  margin: auto;
  width: 40%;
  border: 1px solid #53c4ad;
  margin-top: 40px;
  color: #53c4ad;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.about-link:hover {
  /* background-color: blue; */
  color: #dcdea4;
  border: 1px solid #dcdea4;
}

.about-head {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.about-head p {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.about-body {
  text-align: center;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Courier New", Courier, monospace;
}

.about-body p {
  color: #94dcff;
  font-size: 24px;
}

.contact-head {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.contact-head p {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.contact-body {
  /* margin: auto; */
  text-align: center;
}

.contact-body .fa {
  padding: 20px;
  font-size: 3em;
  width: 2em;
  /* text-align: center; */
  margin: 5px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px solid #367bb4;
}

/* .fa .round {
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;

  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
} */

.fa:hover {
  /* opacity: 0.7; */
  color: #dcdea4;
  border: 1px solid #dcdea4;
}

.contact-body p {
  color: #bf8bb9;
  font-size: 36px;
  font-weight: bold;
}

.show {
  display: block;
  z-index: 6;
}

.dropdown {
  float: left;
  overflow: hidden;
  /* position: relative; */
  /* display: inline-block; */
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: #1c1c1c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content p {
  float: none;
  color: #94dcff;
  text-decoration: none;
  display: block;
  text-align: left;
}
